# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
**/.env
**/.env.local

# Build or dist folders
frontend/dist/
frontend/build/
backend/dist/

# Vercel or other deployment folders
.vercel/
node_modules